body {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Amatic SC', cursive;
  padding-top: 100px;
  font-size: 5.62rem;
  margin-top: 0;
  color: #d4abdc;
}

h2 {
  margin: 0;
  font-weight: normal;
  letter-spacing: 0.3rem;
  color: #d4abdc;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 2.5rem;
}

p {
  font-family: 'Noto Sans TC', sans-serif;
}

.title {
  text-decoration: underline;
}

.top {
  background-color: #efd8f4;
}

.hello {
  width: 50%;
  margin: auto auto;
  padding-bottom: 50px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width: 5%;
  padding-bottom: 50px;
}

.cloud1 {
  position: absolute;
  right: 300px;
  top: 100px;
}

.cloud2 {
  position: absolute;
  left: 100px;
}

h3 {
  color: #ea5656;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.painting {
  width: 30%;
  float: left;
}

.reading {
  width: 30%;
  float: right;
  margin-left: 10px;
}

.bottom {
  background-color: #efd8f4;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: bold;
  color: #ea5656;
}

.BUTTON_RJY {
  background: #EFD8F4;
  background-image: -webkit-linear-gradient(top, #EFD8F4, #CB85D9);
  background-image: -moz-linear-gradient(top, #EFD8F4, #CB85D9);
  background-image: -ms-linear-gradient(top, #EFD8F4, #CB85D9);
  background-image: -o-linear-gradient(top, #EFD8F4, #CB85D9);
  background-image: -webkit-gradient(to bottom, #EFD8F4, #CB85D9);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  height: 4px;
  line-height: 4px;
  color: #FFFFFF;
  font-family: Arial;
  width: 137px;
  font-size: 19px;
  font-weight: 100;
  padding: 15px;
  /***-webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;***/
  border: solid #895393 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.BUTTON_RJY:hover {
  border: solid #D4ABDC 1px;
  background: #CB80D9;
  background-image: -webkit-linear-gradient(top, #CB80D9, #EFD8F4);
  background-image: -moz-linear-gradient(top, #CB80D9, #EFD8F4);
  background-image: -ms-linear-gradient(top, #CB80D9, #EFD8F4);
  background-image: -o-linear-gradient(top, #CB80D9, #EFD8F4);
  background-image: -webkit-gradient(to bottom, #CB80D9, #EFD8F4);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.middle {
  margin-bottom: 70px;
  font-family: 'Hind Siliguri', sans-serif;
}

.links {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 19px;
  word-spacing: 50px;
}
